.wrapper > div {
    background: rgb(210, 175, 181);
    padding: 50px;
}

.wrapper > div:nth-child(odd) {
    background: #ddd;
}

.wrapper {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 50px;
}

.first_section {
    display: block;
    margin-left: 50px;
    margin-right: auto;
    background-color: rgba(211, 208, 208, 0.402);
}

.second_section {
    margin-left: 20px;
    margin-right: 70px;
    margin-top: 0px;
}

.fonts {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.avatar {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding-top: 100px;
/*below to center*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom:100px;
}

.Details {
    text-align: center;
}