.image img {
    alt: "";
    height: 200px;
    width: 200px;
}

.image {
    display: inline-block;
}

.image1 img {
    alt: "";
    height: 200px;
    width: 200px;
}

.image1 {
    display: inline-block;
}